In [1]:
import numpy as np
import pandas as pd

In [2]:
# Analyze Urgent Care Facilities Dataset

ucf = pd.read_csv("../data/hifld/Urgent_Care_Facilities.csv")
print(ucf.columns)

ucf = ucf[['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'X.1', 'Y.1']]
ucf = ucf.rename(columns={"X.1": "LONGITUDE", "Y.1": "LATITUDE"})
ucf['CATEGORY'] = 'UCF'
ucf.head()

Index(['X', 'Y', 'FID', 'ID', 'NAME', 'TELEPHONE', 'ADDRESS', 'ADDRESS2',
       'CITY', 'STATE', 'ZIP', 'ZIPP4', 'COUNTY', 'FIPS', 'DIRECTIONS',
       'EMERGTITLE', 'EMERGTEL', 'EMERGEXT', 'CONTDATE', 'CONTHOW', 'GEODATE',
       'GEOHOW', 'HSIPTHEMES', 'NAICSCODE', 'NAICSDESCR', 'GEOLINKID', 'X.1',
       'Y.1', 'ST_VENDOR', 'ST_VERSION', 'GEOPREC', 'PHONELOC', 'QC_QA',
       'UCAOA_ID'],
      dtype='object')

,ID,NAME,ADDRESS,CITY,STATE,LONGITUDE,LATITUDE,CATEGORY
0,10193191,FAIRBANKS URGENT CARE CENTER,1867 AIRPORT WAY,FAIRBANKS,AK,-147.756405,64.835818,UCF
1,10421243,1ST CARE,1101 NOBLE STREET,FAIRBANKS,AK,-147.713357,64.838565,UCF
2,10844602,ROCKWOOD - CHENEY MEDICAL CENTER,19 NORTH 7TH STREET,CHENEY,WA,-117.577696,47.493125,UCF
3,10844607,ROCKWOOD - NORTH CLINIC,9001 NORTH COUNTRY HOMES BOULEVARD,SPOKANE,WA,-117.415760,47.739681,UCF
4,10425848,VANCOUVER CLINIC - SALMON CREEK SAME DAY SERVICES,2525 NORTHEAST 139TH STREET,VANCOUVER,WA,-122.644800,45.720730,UCF

In [3]:
# Analyze Hospitals Dataset

hospitals = pd.read_csv("../data/hifld/Hospitals.csv")
print(hospitals.columns)

hospitals = hospitals[['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'LONGITUDE', 'LATITUDE']]
hospitals['CATEGORY'] = 'HSP'
hospitals.head()

Index(['X', 'Y', 'OBJECTID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'STATE_ID', 'ALT_NAME', 'ST_FIPS', 'OWNER', 'TTL_STAFF',
       'BEDS', 'TRAUMA', 'HELIPAD'],
      dtype='object')

,ID,NAME,ADDRESS,CITY,STATE,LONGITUDE,LATITUDE,CATEGORY
0,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,-119.645667,36.336159,HSP
1,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,-118.815736,34.154939,HSP
2,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,-118.184165,34.023647,HSP
3,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,-118.325235,34.096391,HSP
4,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,-117.967438,34.063039,HSP

In [4]:
# Analyze Pharmacies Dataset
# Added ID column, Splitted GeoLocations into Latitudes and Longitudes.
# Converted Type to Category and abbreviated the values.

pharmacies = pd.read_csv("../data/hifld/Pharmacies.csv")
print(pharmacies.columns)

pharmacies = pharmacies[['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'LONGITUDE', 'LATITUDE', 'CATEGORY']]
pharmacies.head()

Index(['ID', 'LATITUDE', 'LONGITUDE', 'NAME', 'ADDRESS', 'CITY', 'STATE',
       'ZIP', 'FORMATTED_PHONE', 'STATUS', 'ICON', 'CATEGORY'],
      dtype='object')

,ID,NAME,ADDRESS,CITY,STATE,LONGITUDE,LATITUDE,CATEGORY
0,1,FMCNA - DELTA,104 RAILROAD AVE,DELTA,LA,-90.926765,32.324747,DC
1,2,FMC - HAYWARD,10342 DYNO DR,HAYWARD,WI,-91.490857,46.007363,DC
2,3,FMCNA - ADA DIALYSIS CTR,324 NW J.A. RICHARDSON LOOP,ADA,OK,-96.682717,34.790479,DC
3,4,062563 LIBERTY DIALYSIS - COLORADO SPRINGS NOR...,2180 HOLLOWBROOK DR,COLORADO SPRINGS,CO,-104.785562,38.921141,DC
4,5,CHAMPIONS DIALYSIS,4427 Cypress Creek Pkwy,HOUSTON,TX,-95.496316,29.987210,DC

In [5]:
# Merging the three datasets
combined_hcf = pd.concat([ucf, hospitals, pharmacies])
combined_hcf.to_csv('../data/hifld/combined_hcf.csv', index = False)

In [6]:
combined_hcf.head()

,ID,NAME,ADDRESS,CITY,STATE,LONGITUDE,LATITUDE,CATEGORY
0,10193191,FAIRBANKS URGENT CARE CENTER,1867 AIRPORT WAY,FAIRBANKS,AK,-147.756405,64.835818,UCF
1,10421243,1ST CARE,1101 NOBLE STREET,FAIRBANKS,AK,-147.713357,64.838565,UCF
2,10844602,ROCKWOOD - CHENEY MEDICAL CENTER,19 NORTH 7TH STREET,CHENEY,WA,-117.577696,47.493125,UCF
3,10844607,ROCKWOOD - NORTH CLINIC,9001 NORTH COUNTRY HOMES BOULEVARD,SPOKANE,WA,-117.415760,47.739681,UCF
4,10425848,VANCOUVER CLINIC - SALMON CREEK SAME DAY SERVICES,2525 NORTHEAST 139TH STREET,VANCOUVER,WA,-122.644800,45.720730,UCF